@import "fonts";

header {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1005;
  background-color: white;
  // box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.headerInner {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.headerInner1 {
  width: 30vw;
  display: flex;
  justify-content: center;
  margin-right: auto;
  cursor: pointer;
}

.logo{
  width: 30vw;
  margin-left: -10px;
}

.addClothMain {
  width: 100vw;
  height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.searchbar {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbarInner {
  width: 90vw;
  height: 4vh;
  padding: 5%;
  outline: none;
  background-color: #E2E2E2;
  border-radius: 50px;
  font-family: 'Pretendard-SemiBold';
  color: #222222;
  opacity: 50%;
  border: 0;
  position: relative;
}

.search {
  position: absolute;
  right: 9%;
  width: 7vw;
  cursor: pointer;
}

.resultItem {
  position: relative;
  width: 29vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.resultItemImg {
  width: 100%;
  height: 15vh;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px #c4c4c4);
}

.clothesSource {
  margin: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  padding-top: 7px;
  font-size: 0.7em;
  font-family: 'Pretendard-Regular';
  color :#3d3d3d;
}

.clothesName {
  margin: 0;
  padding-top: 3px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  font-size: 0.7em;
  font-family: 'Pretendard-Bold';
  color :#3d3d3d;
}

.clothesPrice {
  font-family: 'Pretendard-Bold';
  font-size: 0.7em;
  margin: 0;
  padding-top: 5px;
  color :#3d3d3d;
}


.picture {
  width: 100vw;
  height: 53vh; 
  overflow: auto; 
  background-color: #ebebeb;
  margin-top: 4vh;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.searchClothes {
  width: 90vw;
  margin-top: 3vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pictureButtons {
  position: fixed;
  bottom: 10%;
  margin-bottom: 4vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  overflow: auto; 
}

.selected {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selectedImg {
  width: 23vw;
  height: 11vh;
  border-radius: 5px;
}

.seletedTexts {
  width: 100%;
  height: 80%;
  margin-left: 2vw;
}

.selectedSource {
  margin: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  padding-top: 7px;
  font-size: 0.7em;
  font-family: 'Pretendard-Regular';
  color :#3d3d3d;
}

.selectedTitle {
  margin: 0;
  padding-top: 3px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  font-size: 0.7em;
  font-family: 'Pretendard-Bold';
  color :#3d3d3d;
}

.selectedPrice {
  font-family: 'Pretendard-Bold';
  font-size: 0.7em;
  margin: 0;
  padding-top: 5px;
  color :#3d3d3d;
}

.selectedBtn {
  display: flex;
  flex-direction: column;
}

.selectedDeleteBtn, .selectedAddBtn {
  background: inherit; 
  font-family: 'Pretendard-Bold';
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible;
  cursor:pointer
}

.selectedDeleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5vw;
}

.selectedAddBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #222222;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50px;
  font-size: 0.7em;
  &:hover {
    color: #222222;
    background-color: transparent;
    border: 1px solid #222222;
    border-radius: 50px;
  }
}

.gallery {
  width: 20vw;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.camera {
  width: 20vw;
  cursor: pointer;
}

.switch {
  width: 20vw;
  cursor: pointer;
}

.bottomNavInnerBtn {
  cursor: pointer;
}

.closetImg {
  width: 7.5vw;
  height: 4vh;
  margin-left: 1px;
}

.addClothesImg {
  width: 7.5vw;
  height: 4vh;
}

.recommendImg {
  width: 9vw;
  height: 4vh;
}

.mypageImg {
  width: 8.5vw;
  height: 4vh;
  border-radius: 100px;
  filter: drop-shadow(0px 0px 1.5px #000000);
}

.btn {
  width: 80vw;
  height: 7vh;
  border: 1px solid #222222;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
  border-radius: 50px;
  font-family: 'Pretendard-Medium';
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 2px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #222222;
    color: white;
  }
}

.bottomNav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}

.bottomNavInner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100vw;
  margin-top: 1vh;
}

.bottomNavLabel1, .bottomNavLabel2, .bottomNavLabel3, .bottomNavLabel4 {
  font-family: 'Pretendard-Regular';
  font-size: 0.55em;
  text-align: center;
  margin-top: 4px;
}