@import "fonts";

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1005;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.headerInner {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.headerInner1 {
  width: 30vw;
  display: flex;
  justify-content: center;
  margin-right: auto;
}

.headerInner2, .headerInner3 {
  width: 12vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.headerInner3 {
  position: relative;
}

.logo{
  width: 34.3vw;
  margin-left: 5vw;
}

.search {
  width: 7vw;
}

.cart {
  width: 5vw;
}

.cartAdd {
  width: 15px;
  height: 15px;
  background-color: #D99AFC;
  border-radius: 100px;
  position: absolute;
  bottom: 16px;
  right: 6px;
  color: white;
  font-family: 'Pretendard-SemiBold';
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-bottom: 1px;
}

.askMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
  height: 84vh;
  margin-top: 20%;
  overflow: hidden;
}

.askMainInner {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.infoText {
  font-size: 0.9em;
  height: 1px;
  margin-top: 3%;
  margin-bottom: 5%;
  opacity: 60%;
  font-family: 'Pretendard-SemiBold';
}

.sentPhoto {
  max-width: 50vw;
}

.userNameRight {
  text-align: right;
  width: 100%;
  font-size: 0.8em;
}

.userNameLeft {
  text-align: left;
  width: 100%;
  font-size: 0.8em;
}

.userMsg,
.botMsg {
  width: 90vw;
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard-SemiBold';
  margin-top: 5%;
  align-items: flex-start;
}

.userMessageText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-SemiBold';
  height: fit-content;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
  background-color: #BABFFF;
  border-radius: 30px;
  width: fit-content;
  align-self: flex-end;
}

.botMessageText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  font-family: 'Pretendard-SemiBold';
  height: fit-content;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #E8E8E8;
  border-radius: 20px;
  width: fit-content;
  align-self: flex-start;
}

.loadingInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.loading {
  width : 20vw;
}

.textSend {
  position: fixed;
  top: 84%;
  width: 100vw;
  height: 6vh;
  background-color: #F6F6F8;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.textSendInner {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.addImg {
  width: 10vw;
  margin-left: -1vw;
  margin-right: 1vw;
  cursor: pointer;
  opacity: 70%;
}

.temporaryImage {
  position: absolute;
  width: 50vw;
  height: 30vh;
  object-fit: cover;
  top: -31vh;
  box-shadow: 3px -2px 4px rgba(0, 0, 0, 0.1);
}

.deleteImg {
  width: 7vw;
  cursor: pointer;
  opacity: 70%;
}

.textField {
  margin-left: 3vw;
  margin-right: 2vw;
  padding-left: 5%;
  padding-right: 5%;
  width: 70vw;
  height: 4vh;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #D9D9D9;
}

.sendImg {
  width: 8vw;
  cursor: pointer;
  opacity: 70%;
}



.bottomNavInnerBtn {
  cursor: pointer;
}

.closetImg {
  width: 7.5vw;
  height: 4vh;
  margin-left: 1px;
}

.addClothesImg {
  width: 7.5vw;
  height: 4vh;
}

.recommendImg {
  width: 9vw;
  height: 4vh;
}

.mypageImg {
  width: 8.5vw;
  height: 4vh;
  border-radius: 100px;
  filter: drop-shadow(0px 0px 1.5px #000000);
}

.btn {
  width: 80vw;
  height: 7vh;
  border: 1px solid #222222;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
  border-radius: 50px;
  font-family: 'Pretendard-Medium';
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 2px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #222222;
    color: white;
  }
}

.bottomNav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}

.bottomNavInner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100vw;
  margin-top: 1vh;
}

.bottomNavLabel1, .bottomNavLabel2, .bottomNavLabel3, .bottomNavLabel4 {
  font-family: 'Pretendard-Regular';
  font-size: 0.55em;
  text-align: center;
  margin-top: 4px;
}