@font-face {
  font-family: 'main-title';
  src: url('../assets/fonts/ANEK-BANGLA-EXPANDED-EXTRABOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'sub-title';
  src: url('../assets/fonts/SAMSUNGSHARPSANS-BOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'samsung-one-400';
  src: url('../assets/fonts/SAMSUNGONE-400.TTF') format('truetype');
}

@font-face {
  font-family: 'samsung-one-700';
  src: url('../assets/fonts/SAMSUNGONE-700.TTF') format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-ExtraBold';
  src: url('../assets/fonts/NotoSansKR-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../assets/fonts/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../assets/fonts/Pretendard-Bold.otf');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../assets/fonts/Pretendard-SemiBold.otf');
}

