html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@import "fonts";


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
}

.bgVideoContent {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.header {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
}

.headerInner1{
  width: 25%;
  display: flex;
  align-items: center;
}

.headerInner2 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.headerInner3 {
  width: 25%;
}

.backBtn {
  width: 20px;
  margin-left: 10vw;
}

.signup {
  font-family: 'Pretendard-Bold';
  font-size: 1.2em;
}

.firstInfo{
  width: 100vw;

}

.secondInfo {
  width: 100vw;
  margin-top: 2vh;
}

.title1 {
  font-family: 'Pretendard-Bold';
  font-size: 2.5em;
  margin-left: 10vw;
  margin-bottom: 1vh;
  padding-top: 2vh;
}

.title2 {
  font-family: 'Pretendard-Bold';
  font-size: 2.5em;
  margin-left: 10vw;
  padding-top: 2vh;
  margin-bottom: 1vh;
  opacity: 25%;
  &.active {
    opacity: 100%;
  }
}

.passwordInput {
  width: 80vw;
  outline: none;
  background-color: transparent;
  font-family: 'Pretendard-SemiBold';
  font-size: 1.4em;
  color: #222222;
  opacity: 50%;
  margin-top: 1.5vh;
  margin-left: 10vw;
  border: 0;
}

.line {
  display: inline-block;
  width: 80vw; 
  height: 3px; 
  position: relative;
  margin-left: 10vw;

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #222222;
    opacity: 30%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: absolute;
    bottom: 0;
    animation: underline-slide 1s ease forwards;
  }
}

.line2 {
  display: inline-block;
  width: 80vw;
  height: 3px;
  position: relative;
  margin-left: 10vw;
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #222222;
    opacity: 30%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: absolute;
    bottom: 0;
  }
}

.line2.animate:after {
  animation: underline-slide 1s ease forwards;
}

@keyframes underline-slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


.topArticle {
  width: 100vw;
  height: 60%;
}

.bottomArticle {
  height: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privacyPolicy {
  position: fixed;
  top: 80%;
}

.privacy {
  font-family: 'Pretendard-SemiBold';
  font-size: 0.79em;
  color: #222222;
  opacity: 50%;
}

.bottomButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.btn {
  width: 80vw;
  height: 7vh;
  border: 1px solid #222222;
  background-color: transparent;
  color: #222222;
  border-radius: 50px;
  font-family: 'Pretendard-Bold';

  font-size: 0.9em;
  letter-spacing: 1px;
  &:hover {
    background-color: #222222;
    color: white;
  }
}