@import 'fonts';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
}

.bgVideoContent {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

p {
  margin: 0;
  padding: 0;
}

.topTitle {
  width: 80vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topText {
  font-family: 'Pretendard-Bold';
  font-size: 150px;
  margin-bottom: 6vh;
}

.subText1,
.subText2,
.subText3 {
  font-family: 'Pretendard-Bold';
  font-size: 68px;
  margin-top: 1vh;
}

.middleBtn {
  height: 42vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.btn {
  width: 80vw;
  height: 7vh;
  background-color: #222222;
  color: white;
  border-radius: 300px;
  font-size: 68px;
  letter-spacing: 1px;
  outline: none;
  font-family: 'Pretendard-SemiBold';
}

.qrcodeInnerText1 {
  width: 100%;
  position: fixed;
  top: 65%;
  right: 0;
  font-family: 'Pretendard-Regular';
  font-size: 65px;
  text-align: center;
}

.bottomTextInner {
  width: 100%;
  position: fixed;
  top: 56%;
  right: 0;
  font-family: 'Pretendard-Regular';
  font-size: 65px;
  text-align: center;
}

.qrcodeInnerText1 {
  margin-top: 10vh;
}

.bottomTextInner {
  color: rgb(163, 1, 1);
  margin-top: 2vh;
}

.qrcode {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.qrcodeCreate {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  position: fixed;
  top: 65%;
  left: 33%;
  width: 150px;
  height: 150px;
}

.qrcodeImg {
  width: 500% !important;
  height: 500% !important;
  // height: 1600px;
  margin-bottom: 2vh;
}

.remainTime {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
