@font-face {
  font-family: "main-title";
  src: url("../assets/fonts/ANEK-BANGLA-EXPANDED-EXTRABOLD.TTF") format("truetype");
}
@font-face {
  font-family: "sub-title";
  src: url("../assets/fonts/SAMSUNGSHARPSANS-BOLD.TTF") format("truetype");
}
@font-face {
  font-family: "samsung-one-400";
  src: url("../assets/fonts/SAMSUNGONE-400.TTF") format("truetype");
}
@font-face {
  font-family: "samsung-one-700";
  src: url("../assets/fonts/SAMSUNGONE-700.TTF") format("truetype");
}
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
}

html, body, #root {
  margin: 0;
  padding: 0;
}